@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  

// get started styling on responsiveness
  .flex-container-2 {

    .left-side {
      @include tablet {
        height: 40%;
        width: 80%;
      } 
      @include mobile {
        height: 40%;
        width: 80%;
      } 
    }
    .right-side {
      @include tablet {
        height: 40%;
        width: 80%;
        padding: 10px;
      } 
      @include mobile {
        height: 40%;
        padding: 10px;
        width: 90%;
      } 

      h4 {
        @include tablet {
          text-align: right;
        } 
        @include mobile {
          text-align: right;
        } 
      }
    }
  }

  //description 
  .flex-container {
    @include tablet {
      height: 1200px;
    } 
    @include mobile {
      border: 1px solid;
      height: 1200px;
    } 
    .outerbox {
      
      @include tablet {
      width: 70%;
      margin-top: 0;
      margin-bottom: 0;
      } 
      @include mobile {
      width: 70%;
      margin-top: 0;
      margin-bottom: 0;
      } 

      .top , .down {
        @include tablet {
          margin-left: 35px;
          width: 90%;
        } 
        @include mobile {
          margin-left: 35px;
          width: 90%;
        } 
      }
    }

  }

  // the footer responsiveness
  .flex-container-1 {
    @include tablet {
      flex-direction: column;
    } 
    @include mobile {
      flex-direction: column;
    } 

    .one {
      @include tablet {
        width: 80%;
        height: 1%;
        margin-bottom: 0;
      } 
      @include mobile {
        width: 80%;
        height: 1%;
        margin-bottom: 0;
      } 
      img {
        @include tablet {
          width: 100px;
          height: 100px;
          margin-left: 100px;
          border-radius: 0 0 0 0;
          position: absolute;
          right: 50px;
          border-radius: 50%;
          object-fit: cover;
        } 
        @include mobile {
          width: 100px;
          height: 100px;
          margin-left: 100px;
          border-radius: 0 0 0 0;
          position: absolute;
          right: 50px;
          border-radius: 50%;
          object-fit: cover;
        } 
      }
    }

    .two {
      @include tablet {
        width: 80%;
        height: 1%;
        margin-bottom: 0;
        padding: 10px;
        text-align: center;
      } 
    }
  }

  
  .navbar {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: linear-gradient(90deg,#cdffd8 , #94b9ff);
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #213547;
    
    @include mobile {
      
      } 

    .logo {
      font-weight: bold;
      @include tablet {
        display: none;
      }

      img {
        background-color: #ddddf7;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            font-weight: 600;
            color: #213547;
            margin: 0px 20px 0px 20px;
            cursor: pointer;
            @include mobile {
                margin-right: 50px;
            } 
        }
    }

    .user {
      display: flex;
      gap: 10px;
      font-weight: 600;

      span {
        margin-top: 10px ;
      }

      button {
        background-color: white;
        color: black;
        font-size: 10px;
        border: none;
        cursor: pointer;
        @include tablet {
        //   position: absolute;
        //   bottom: 10px;
        }
      }
    }
  }


  // styling the therapist profile
  .profile {
    height: 200px;
    width: 85%;
    margin-top: 80px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.3px 0.3px 0.3px 0.3px #213547;
    cursor: pointer;
    display: flex;
    @include tablet {
      height: 215px;
     }
   @include mobile {
    height: 215px;
     }

    .circle {
        height: 80%;
        width: 32%;
        border-radius: 50%;
        margin: 20px;
        @include tablet {
           margin-left: -100px ;
          //  visibility: none;
           z-index: -1;
          }
        @include mobile {
          margin-left: -100px ;
           z-index: -1;
          }


        img {
            object-fit: cover;
        }
    }

    .info {
      @include tablet {
        width: 80%;
        padding: 7px;
        padding-left: 40px;
       }

       @include mobile {
        width: 80%;
        padding: 7px;
        } 
        h4 {
                margin-left: 0px;
                margin-bottom: 7px;
        }

        span {
            margin-top: 2px;
            h6 {
                margin-top: 4px;
            }
        }
        ul {
            display: flex;
            // border: 1px solid ;

            li {
                list-style: none;
                margin: 0px 15px 0px 0px;

                .icon {
                    height: 20px;
                    width: 20px;
                    color: #213547;
                    margin-right: 10px;
                  

                }
            }
        }

    }
  }

 .therapy-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

 

    .left {
        width: 50%;
        height: 100vh;
   
    }
    .right {
        width: 50%;
   
    }
 }

 .get-in-touch {
  @include tablet {
    margin-bottom: 0;
    margin-top: 50px;
    text-align: center;
   }

   @include mobile {
    margin-bottom: 0;
    margin-top: 50px;
    text-align: center;
    } 

 }



 // styling on the daily tips page
 .tips {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 0;
  padding: 50px;

  .tip {
    margin-bottom: 15px;
    padding: 20px;
   
    p{
      margin-top: 0;
    }
  
    h4 {
      margin-bottom: 0;
   }
  }
 
  } 




  //styling on the note or dairy page
  .container-d {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
  
    padding: 30px;
    border-radius: 5px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      Button {
        margin-left: 20px;
      }
    }

    textarea {
      width: 100%;
    }
    

    .btn {
      display: inline-block;
      background: #000;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 15px;
      font-family: inherit;


      .btn:focus {
        outline: none;
      }
      
      .btn:active {
        transform: scale(0.98);
      }
      
      .btn-block {
        display: block;
        width: 100%;
      }
    }


    .task {
      background: #f4f4f4;
      margin: 5px;
      padding: 10px 20px;
      cursor: pointer;

      .reminder {
        border-left: 5px solid green;
      }
      
      h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .form-control {
      margin: 20px 0;
    }
    
    .form-control label {
      display: block;
    }
    
    .form-control input {
      width: 100%;
      height: 40px;
      margin: 5px;
      padding: 3px 7px;
      font-size: 17px;
    }
    
    .form-control-check {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .form-control-check label {
      flex: 1;
    }
    
    .form-control-check input {
      flex: 2;
      height: 20px;
    }

    .add-form {
      margin-bottom: 40px;
    }
    
      
  footer {
    margin-top: 30px;
    text-align: center;
  }
  }
  
 
 
  
 
  
  
  
 
  

  
 
