@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  

  
  .navbar {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: linear-gradient(90deg,#cdffd8 , #94b9ff);
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #213547;
    // border: 1px solid blue ;

    .logo {
      font-weight: bold;
      @include tablet {
        display: none;
      }

      img {
        background-color: #ddddf7;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            font-weight: 600;
            color: #213547;
            margin: 0px 20px 0px 20px;
            cursor: pointer;
        }
    }

    .user {
      display: flex;
      gap: 10px;
      font-weight: 600;

      span {
        margin-top: 10px ;
      }

      button {
        background-color: white;
        color: black;
        font-size: 10px;
        border: none;
        cursor: pointer;
        @include tablet {
        //   position: absolute;
        //   bottom: 10px;
        }
      }
    }
  }


  .profile {
    height: 220px;
    width: 85%;
    margin-top: 80px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.3px 0.3px 0.3px 0.3px #213547;
    cursor: pointer;
    display: flex;

    .circle {
        height: 80%;
        width: 32%;
        border-radius: 50%;
        margin: 20px;

        img {
            object-fit: cover;
        }
    }

    .info {
        h4 {
                margin-left: 0px;
                margin-bottom: 7px;
        }

        span {
            margin-top: 2px;
            h6 {
                margin-top: 4px;
            }
        }
        ul {
            display: flex;
            margin-left: 0;
            background-color: #213547;
            align-items: center;
            border-radius: 10px;


            li {
                list-style: none;
                margin: 0px 15px 0px 2px;

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
        
                }
            }
        }

    }
  }

 .therapy-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .left {
        width: 50%;
        height: 100vh;
        // border: 1px solid yellow;
    }
    .right {
        width: 50%;
        // border: 1px solid blue;
    }
 }