@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  
  
  .home {
  
    .container {
      @include tablet {
       width: 90%;
      }
  
      .sidebar {
  
        .navbar {
  
          .logo {
            @include tablet {
              display: none;
            }
          }
  
            button {
              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
        }
       
      }
    
    }
  }